* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #4c4f56;
  color: #444;
  font-family: Helvetica;
  font-size: 12px;
}

.upload-dialogue {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6e9f1), color-stop(100%, #f3f5f8));
  background-image: -webkit-linear-gradient(#e6e9f1, #f3f5f8);
  background-image: -moz-linear-gradient(#e6e9f1, #f3f5f8);
  background-image: -o-linear-gradient(#e6e9f1, #f3f5f8);
  background-image: linear-gradient(#e6e9f1, #f3f5f8);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 25px 50px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 25px 50px 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0 25px 50px 0;
  margin: 10em auto;
  padding: 26px 13px 15px 13px;
  width: 500px;
}
.upload-dialogue > header {
  font-size: 1.5em;
  margin: 0 0 1em 20px;
}
.upload-dialogue ul {
  border-bottom: 1px solid #d9dce0;
  list-style: none;
  margin: 0;
  padding: 0;
}
.upload-dialogue > footer {
  border-top: 1px solid #fff;
  padding: 0.5em 2px 0 0;
  text-align: right;
}
.upload-dialogue button {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dde1e8));
  background-image: -webkit-linear-gradient(#ffffff, #dde1e8);
  background-image: -moz-linear-gradient(#ffffff, #dde1e8);
  background-image: -o-linear-gradient(#ffffff, #dde1e8);
  background-image: linear-gradient(#ffffff, #dde1e8);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #9ea0a5;
  cursor: pointer;
  font-weight: bold;
  padding: 4px 7px;
}
.upload-dialogue button:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dde1e8), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#dde1e8, #ffffff);
  background-image: -moz-linear-gradient(#dde1e8, #ffffff);
  background-image: -o-linear-gradient(#dde1e8, #ffffff);
  background-image: linear-gradient(#dde1e8, #ffffff);
}

.upload-dialogue-progressbar {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c2c3c8), color-stop(100%, #d3d4d9));
  background-image: -webkit-linear-gradient(#c2c3c8, #d3d4d9);
  background-image: -moz-linear-gradient(#c2c3c8, #d3d4d9);
  background-image: -o-linear-gradient(#c2c3c8, #d3d4d9);
  background-image: linear-gradient(#c2c3c8, #d3d4d9);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  border: 1px solid #a5a5aa;
  color: #444;
  height: 13px;
  width: 250px;
}

.upload-dialogue-progressbar-inner {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebeef3), color-stop(100%, #d7dadf));
  background-image: -webkit-linear-gradient(#ebeef3, #d7dadf);
  background-image: -moz-linear-gradient(#ebeef3, #d7dadf);
  background-image: -o-linear-gradient(#ebeef3, #d7dadf);
  background-image: linear-gradient(#ebeef3, #d7dadf);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  height: 100%;
}

.upload-dialogue-document {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #e7e8ee url("../Images/document-icon.png") no-repeat 30px center;
  background-size: 70px auto;
  border: 1px solid #c6c8cb;
  margin: 0 0 0.5em 10px;
  padding: 35px 0 40px 125px;
  width: 457px;
}
.upload-dialogue-document > header {
  font-weight: bold;
  margin-bottom: 0.5em;
}
.upload-dialogue-document > footer {
  margin-top: 0.5em;
}
